In [2]:
import numpy as np
import pandas as pd
import ast

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')
movies=pd.DataFrame(movies)
credits=pd.DataFrame(credits)

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#combining 2 datasets based on the common data
movies=movies.merge(credits,on='title')

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
#now we r removing the column which we dont use such as Budget coz it doesnt specify the recommendation
#columns we need are 
#genres,id,keywords,title,overview,cast,crew  --> use .info() to know what there
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [10]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
#we r going to make new dataset which have 3 columns id,title,tags->(cast+crew+keywords+genres)
#checking for null values
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
movies.dropna(inplace=True)

In [21]:
#to check for duplicate datasets
movies.duplicated().sum()

0

In [22]:
 #we making the weird data into list like genres
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [24]:
movies['genres']=movies['genres'].apply(convert)

In [25]:
movies['keywords']=movies['keywords'].apply(convert)

In [28]:
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            l.append(i['name'])
            counter+=1
        else:
            break
    return l

In [29]:
movies['cast']=movies['cast'].apply(convert3)

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [32]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [33]:
movies['crew']=movies['crew'].apply(fetch_director)

In [34]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [35]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [91]:
movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])
# movies['overview'] = movies['overview'].apply(lambda x:x.split())

0           [JamesCameron]
1          [GoreVerbinski]
2              [SamMendes]
3       [ChristopherNolan]
4          [AndrewStanton]
               ...
4804     [RobertRodriguez]
4805         [EdwardBurns]
4806          [ScottSmith]
4807          [DanielHsia]
4808     [BrianHerzlinger]
Name: crew, Length: 4806, dtype: object

In [93]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [95]:
new_df = movies[['movie_id','title','tags']]
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\NihilTej\AppData\Local\Temp\ipykernel_23456\2972030922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [97]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\NihilTej\AppData\Local\Temp\ipykernel_23456\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [99]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [105]:
#fame nlp library .. we took stemmer as we gonna do stemming process i.e., if there are words like loving , loved , love they all will get change into love,love,love
import nltk
from nltk.stem.porter import PorterStemmer

In [109]:
ps=PorterStemmer()
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [111]:
new_df.loc[:, 'tags'] = new_df['tags'].apply(stem)

In [119]:
#Text Vectorization we are gonna use bag of words(simplest one) we use sklearn's cls called countvectorization .. we also neglect and rmove stop words like and,the,are etc..
from sklearn.feature_extraction.text import TfidfVectorizer
#we used max feature to get 5000 most common words
cv=TfidfVectorizer(max_features=5000,stop_words='english')

In [121]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [123]:
vectors[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [125]:
cv.get_feature_names_out()
#there is a prblm here that the action and actions count as different .. and actor , actors act as different words.. but they give almost same meaning

array(['000', '007', '10', ..., 'zooey', 'zucker', 'zwick'], dtype=object)

In [127]:
#we used cosine similarity to check sin distance(angles between all movies)
from sklearn.metrics.pairwise import cosine_similarity

In [129]:
similarity=cosine_similarity(vectors)

In [131]:
similarity[2]

array([0.03587852, 0.01073806, 1.        , ..., 0.01367133, 0.07050887,
       0.        ])

In [145]:
#from yt
def recommend(movie):
    movie_ind = new_df[new_df['title'] == movie].index[0]
    distances=similarity[movie_ind]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key = lambda x: x[1])[1:7]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)
#from ai
# def recommend(movie):
#     # Convert input to lowercase for case-insensitive search
#     movie = movie.lower()
    
#     # Find matching titles (partial match)
#     matching_movies = new_df[new_df['title'].str.lower().str.contains(movie, na=False)]
    
#     if matching_movies.empty:
#         print(f"Movie '{movie}' not found in the dataset. Did you mean one of these?")
#         # Suggest top 5 closest titles based on Levenshtein distance or substring
#         from difflib import get_close_matches
#         all_titles = new_df['title'].str.lower().tolist()
#         suggestions = get_close_matches(movie, all_titles, n=5, cutoff=0.6)
#         if suggestions:
#             for sugg in suggestions:
#                 print(f"- {sugg}")
#             return
#         else:
#             print("No similar titles found. Please try a different movie.")
#             return
    
#     # Take the first match (best partial match)
#     movie_ind = matching_movies.index[0]
#     distances = similarity[movie_ind]
#     movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    
#     # Print recommendations
#     print(f"Recommendations for '{new_df.iloc[movie_ind]['title']}':")
#     for i in movies_list:
#         print(new_df.iloc[i[0]].title)

In [147]:
recommend('The Avengers')

Avengers: Age of Ultron
Captain America: Civil War
Iron Man 2
Iron Man
Thor: The Dark World
Iron Man 3

In [149]:
ground_truth = {
    'Batman Begins': ['The Dark Knight', 'The Dark Knight Rises', 'Batman', 'Batman Returns', 'Batman Forever'],
    'Avatar': ['Titanic', 'Aliens', 'The Abyss', 'Terminator 2', 'True Lies']
}

# Function to calculate accuracy
def calculate_accuracy(movie):
    movie_ind = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_ind]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    recommended = [new_df.iloc[i[0]].title for i in movies_list]
    
    true_positives = len(set(recommended) & set(ground_truth.get(movie, [])))
    accuracy = true_positives / min(5, len(ground_truth.get(movie, [])))  # Accuracy as proportion of correct in top 5
    print(f"Recommended: {recommended}")
    print(f"Ground Truth: {ground_truth.get(movie, [])}")
    print(f"Accuracy for {movie}: {accuracy:.2f}")

# Test accuracy
calculate_accuracy('Batman Begins')

Recommended: ['The Dark Knight', 'The Dark Knight Rises', 'Batman', 'Batman', 'Batman v Superman: Dawn of Justice']
Ground Truth: ['The Dark Knight', 'The Dark Knight Rises', 'Batman', 'Batman Returns', 'Batman Forever']
Accuracy for Batman Begins: 0.60

In [151]:
import pickle

In [153]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))